@font-face {
    font-family: "GT-Walsheim"; 
    src: url("fonts/GT-Walsheim-Black-Trial.otf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
}
@font-face {
    font-family: "GT-Walsheim-text"; 
    src: url("fonts/GT-Walsheim-Light-Trial.otf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
}
body {
    margin: 0;
    padding: 0;
    font-family: "GT-Walsheim";
}
p {
    padding: 0;
}
.video_bg {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.video_bg video {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    padding-bottom: 100px;
    object-fit: cover;
    z-index: 1;
}
.header {
    z-index: 3; 
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;  
}
.bg_content {
    z-index: 3;
    font-size: 30px;
    color: #000;
    text-align: center;
    position: absolute;
    bottom: 0;
    max-width: 70%;
}
.logo {
    max-width: 300px;
}
.circle {
    max-width: 150px; 
}
.bg_content_head {
    font-size: 34px;
    font-weight: 600;
    margin: -15px;
}
.bg_content_text {
    font-family: "GT-Walsheim-text";
    font-size: 24px;
}
span {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 21.5px;
}
